@model Oh_lala_Web.Models.EmailFormModel
@{
    ViewBag.Title = "Contacto";
}

<script src="https://www.google.com/recaptcha/api.js"></script>  

<body>
    <div class="rowSectionText">
        <div class="container">
            <p>Formulario de Contacto</p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4 col-md-offset-4 contactForm">
            @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <h3 id="contactFormTitle">Contacto</h3>
                <fieldset>
                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", @placeholder = "Nombre", required = "required" })
                </fieldset>
                <fieldset>
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", type = "email", @placeholder = "Mail", required = "required" })
                </fieldset>
                <fieldset>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Teléfono (Opcional)" })
                </fieldset>
                <fieldset>
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control textAreaForm", @placeholder = "Mensaje", @style = "resize: none;", @rows = 8, required = "required" })
                </fieldset>
                <fieldset>
                    <div class="g-recaptcha" data-sitekey="6LcYsiYUAAAAAN6tWwIeIL8MO04LUhdSATZsWPVU"></div>
                </fieldset>
                <fieldset>
                    <button name="submit" class="btn btn-primary buttonForm btn-lg" type="submit" id="contact-submit" data-submit="...Enviando">Enviar</button>
                </fieldset>
                }
        </div>
    </div>
</body>
</html>
