@model IEnumerable<Model.Models.Event>
@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html lang="en">
<body>
<div id="content">
    <!--==============================slider=================================-->
    @*<div>
        <img src="Content/Fotos/Home/Home (5)-r.jpg">
    </div>*@
    <!--==============================row1=================================-->
    @*<div class="row_1">
        <div class="container">
            <p class="title2" style="margin-bottom: 10px">Oh Lalá es un espacio creado para que tus momentos sean realmente inolvidables.</p>
            <p class="title2">La pasión por la fotografía nos empuja. Dejate llevar por Oh Lalá!</p>
        </div>
    </div>*@
    <!--==============================Gallery=================================-->
    <div class="container">
        @foreach (var item in Model)
        {
            <p>
                 (@Html.DisplayFor(modelItem => item.Date))
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Text)
            </p>
            if (item.IsImage)
            {
                <div id="wrapper">
                    <div class="element">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.Action).ToHtmlString(), Html.DisplayFor(modelItem => item.Controller).ToHtmlString())'>
                            <figure><img class="imagesSection" alt=@Html.DisplayFor(modelItem => item.Title) src="/Content/Fotos/@Html.DisplayFor(modelItem => item.Image.ImagePath)"></figure>
                        <span>@Html.DisplayFor(modelItem => item.Title)</span>
                        </a>
                    </div>
                </div>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.VideoLink)
            }
        }
    </div>
</div>
</body>
</html>
