@model Model.Models.Event

<div class="container">
    <div style="text-align: center">
        <p>
            @Model.Title
        </p>
            <p>
                @Model.Date
            </p>
            <p>
                @Model.Text
            </p>
            <p>
                @foreach (var service in Model.Service)
                {
                    @Html.DisplayFor(model => service.TypeServices.Name)
                    <a href='Url.Action(Html.DisplayFor(modelItem => service.ServiceLink).ToHtmlString()'>
                        @Html.DisplayFor(modelService => service.Name)
                    </a>
                }
            </p>
            @foreach (var image in Model.Images)
            {
                <div id="wrapper">
                    <div class="element">
                        <figure><img class="imagesSection" src="~/@image.ImagePath"></figure>
                    </div>
                </div>
            }
            @if (!Model.IsImage)
            {
                @Model.VideoLink
            }
    </div>
</div>