@model IEnumerable<Model.Models.Event>


@{
    var intercalation = true;
}
@foreach (var item in Model)
{
    if (intercalation)
    {
        <div id="intercalationItemOne">
            <div class="container alignCenter">
                <div class="row entrySection">
                    <div class="col-lg-8 col-md-8 imagesSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <figure><img alt=@Html.DisplayFor(modelItem => item.Title) src="~/@Html.DisplayFor(modelItem => item.CoverImage.ImagePath)"></figure>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 textSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <p class="eventTitleSection">
                                @item.Title
                            </p>
                        </a>
                        <p class="eventIntrodutionSection">
                            @item.Introduction
                        </p>
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <p>
                                Leer más
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        intercalation = false;
    }
    else
    {
        <div id="intercalationItemTwo">
            <div class="container alignCenter">
                <div class="row entrySection">
                    <div class="col-lg-4 col-md-4 textSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <p class="eventTitleSection">
                                @item.Title
                            </p>
                        </a>
                        <p class="eventIntrodutionSection">
                            @item.Introduction
                        </p>
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <p>
                                Leer más
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 imagesSection">
                        <figure><img alt=@Html.DisplayFor(modelItem => item.Title) src="~/@Html.DisplayFor(modelItem => item.CoverImage.ImagePath)"></figure>
                    </div>
                </div>
            </div>
        </div>
        intercalation = true;
    }
}

