@model IEnumerable<Model.Models.Event>


@{
    var intercalation = true;
}
@foreach (var item in Model)
{
    if (intercalation)
    {
        <div id="intercalationItemOne">
            <div class="container alignCenter">
                <div class="row entryEventSection">
                    <div class="col-lg-7 col-md-7 eventImageSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <figure><img alt=@Html.DisplayFor(modelItem => item.Title) src="~/@Html.DisplayFor(modelItem => item.CoverImage.ImagePath)"></figure>
                        </a>
                    </div>
                    <div class="col-lg-5 col-md-5 eventTitleSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <p>
                                @item.Title
                            </p>
                        </a>
                        <p>
                            @item.Introduction
                        </p>
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            Leer más
                        </a>
                    </div>
                </div>
            </div>
        </div>
        intercalation = false;
    }
    else
    {
        <div id="intercalationItemTwo">
            <div class="container alignCenter">
                <div class="row entryEventSection">
                    <div class="col-lg-5 col-md-5 eventTitleSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <p>
                                @item.Title
                            </p>
                        </a>
                        <p class="eventIntrodutionSection">
                            @item.Introduction
                        </p>
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            Leer más
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-7 eventImageSection">
                        <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                            <figure><img alt=@Html.DisplayFor(modelItem => item.Title) src="~/@Html.DisplayFor(modelItem => item.CoverImage.ImagePath)"></figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        intercalation = true;
    }
}
@{
    <div class="rowSectionPageNavigation">
        <div class="container alignCenter">
            <div class="row entryEventSection">
                <div class="col-md-2 col-sm-2">
                    @if (ViewBag.previousPage != null)
                    {
                        <a href='@Url.Action(ViewBag.Title, "Home", new { identifier = ViewBag.previousPage })'>
                            <p><<<</p>
                        </a>
                    }
                </div>
                <div class="col-md-2 col-sm-2 col-md-offset-8 col-sm-offset-8">
                    @if (ViewBag.nextPage != null)
                    {
                        <a href='@Url.Action(ViewBag.Title, "Home", new { identifier = ViewBag.nextPage })'>
                            <p>>>></p>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}

