<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @*Properties*@
        <meta name="author" content="Oh Lalá PH">  
        <meta property="og:url" content="ohlalaph.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Oh Lalá Producciones Fotográficas" />
        <meta property="og:description" content="Espacio creado para que tus momentos sean realmente inolvidables" />
        <meta property="og:image" content="http://ohlalaph.com/Content/images/small-logo.png" />

        <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" /> 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-88192911-1', 'auto');
            ga('send', 'pageview');

            $(function () {
                var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
                $('nav li a').each(function () {
                    var hrefli = $(this).attr("href").substr($(this).attr("href").lastIndexOf("/") + 1);
                    if (hrefli == pgurl)
                        $(this).closest('a').addClass("selectedMenu");
                })
            });
        </script>

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-animation.min.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    </head>
    <body>
<!--==============================header=================================-->
    <header id="layoutHeader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-sm-4 navLogo">
                        <p><img src="~/Content/images/small-logo-white.png"></p>
                    </div>
                    <div class="col-sm-8">
                        <div class="navbar navbar-default navbar-top alignCenter">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@*@Html.ActionLink("Último", "Index", "Home")*@</li>
                                    <li>@Html.ActionLink("Fifteen", "Fifteen", "Home", new { identifier = string.Empty }, null)</li>
                                    <li>@*@Html.ActionLink("Bodas", "Bodas", "Home")*@</li>
                                    <li>@*@Html.ActionLink("Newborn", "NewBorn", "Home")*@</li>
                                    <li>@*@Html.ActionLink("Contacto", "Contact", "Home")*@</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!--==============================content=================================-->
    @RenderBody()
<!--==============================footer=================================-->
    <footer id="footer">
        <div class="width container-fluid alignCenter">
            <div class="row">
                <div class="col-md-12">
                    <p></p>
                    <p><img src="~/Content/images/small-logo-footer.png" class="img-responsive alignCenter"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 alignCenter">                   
                    @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "footerLink" })
                    <span>/</span>
                    @Html.ActionLink("Último", "Index", "Home", new object { }, new { @class = "footerLink" })
                    <span>/</span>
                    @Html.ActionLink("Fifteen", "Fifteen", "Home", new { identifier = string.Empty }, new { @class = "footerLink" })
                    <span>/</span>
                    @Html.ActionLink("Bodas", "Bodas", "Home", new object { }, new { @class = "footerLink" })
                    <span>/</span>
                    @Html.ActionLink("NewBorn", "NewBorn", "Home", new object { }, new { @class = "footerLink" })
                    <span>/</span>
                    @Html.ActionLink("Contacto", "Contact", "Home", new object { }, new { @class = "footerLink" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 alignCenter">
                    <p style="color:white">COPYRIGHT © 2017 OH LALÁ PHOTOGRAPHY</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 alignCenter">
                    <a href="https://www.instagram.com/ohlalaph/" class="btn btn-social-icon btn-instagram" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="https://vimeo.com/user42415580" class="btn btn-social-icon btn-vimeo" target="_blank">
                        <i class="fa fa-vimeo" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/OhLalaPH" class="btn btn-social-icon btn-facebook" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <p></p>
            </div>
        </div>
    </footer>
    </body>
</html>

